{% extends 'dashboard.html.twig' %}

{% block content %}


<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <p class="page-title page-product">
                <a href="/admin">
                    Home <i class="fa fa-angle-right"></i>
                </a>
                Experience</p>

        </div>

        <div class="row row-card-no-pd product-view">
            <div class="col-md-12">

                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Lieu</th>
                        <th>User</th>
                        <th>Categorie</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    {% for e in exp %}
                        <tbody>
                        <tr>
                            <td>{{ e.id }}</td>
                            <td>{{ e.nomExp }}</td>
                            <td>{{ e.descExp }}</td>
                            <td>{{ e.imageName }}</td>
                            <td>{{ e.lieuExp }}</td>
                            <td>{{ e.user }}</td>
                            <td>{{ e.categorie.nom }}</td>
                            <td><a href="{{ path('SupprimerDash',{'id':e.id}) }}">
                                    <button type="button" class="btn btn-block btn-danger">
                                        Supprimer
                                    </button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>


                <div class="navigation text-center">
                    {{ knp_pagination_render(exp) }}
                </div>


            </div>
        </div>

    </div>
</div>

{% endblock %}
