{% extends 'base.html.twig' %}
{% block content %}
    <!-- Custom Hero Area -->

    <section class="custom-hero-area dark-overlay"
             data-parallax="scroll"
             data-speed="0.6"
             data-image-src="/../assets/img/experience/up.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-hero">
                        <h2>Modifier</h2>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- /Custom Hero Area -->

        <!-- All Blog -->
        <section class="all-blog section-padding">
            <div class="container">
                <div class="col-md-10 col-md-offset-1">

                    <div class="single-blog-content">
                        <div class="container">
                            <div class="row col-lg-6">
                                <div class="breadcrumbs">

                                    {{ form_start(form) }}
                                    <div class="form-group">
                                         <label>Titre</label>
                                        {{ form_widget(form.nomExp, { 'attr': {'class': 'form-control'} }) }}

                                    </div>

                                    <div class="form-group">
                                        <label>Description</label>
                                        {{ form_widget(form.descExp, { 'attr': {'class': 'form-control'} }) }}

                                    </div>

                                    <div class="form-group">
                                        <label>Lieu</label>
                                        {{ form_widget(form.lieuExp, { 'attr': {'class': 'form-control'} }) }}

                                    </div>

                                    <div class="form-group">
                                        <label>Categorie</label>
                                        {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'} }) }}

                                    </div>
                                    {{ form_widget(form.imageFile) }}
                                    {{ form_widget(form.Partager, {'attr': {'class': 'btn-default btn-small btn-fill'}}) }}
                                    {{ form_end(form) }}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

    <!-- All Blog -->
{% endblock %}